@model WebApplication9.Models.Usuario

@{
    ViewData["Title"] = "Detalles de Usuario";
}

<div class="container mt-5" style="padding-left: 50px;">
    <h1 class="text-primary">Detalles de Usuario</h1>

    <div class="card p-4">
        <h4 class="card-title">Usuario</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Contraseña)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Contraseña)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.TipoUsuario)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.TipoUsuario)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.FechaRegistro)
            </dd>
        </dl>
    </div>

    <div class="mt-4">
        <a asp-action="Edit" asp-route-id="@Model?.IdUsuario" class="btn btn-warning">Editar</a>
        <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
    </div>
</div>
